body {
    margin: 0;
    padding: 0;
}

.bg-dark {
    background-color: #dfdfdf;
}

.text-blue-accent {
    color: #ff8f5b;
}

.text-white {
    color: #1d1d1d;
}

.large-text {
    font-size: 3rem;
    font-weight: 700;
}