body {
    margin: 0;
    padding: 0;
}

.bg-welcome {
    background-size: 50%;
    background-repeat: repeat-x;
    background-position-y: 4rem;
}

.bg-dark {
    background-color: #dfdfdf;
}

.text-blue-accent {
    color: #ff8f5b;
}

.text-white {
    color: #1d1d1d;
}

.large-text {
    font-size: 3rem;
    font-weight: 700;
}

.bg-app {
    background-image: url('./assets/images/bg2.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.App {
    margin-top: 50px;
    text-align: center;
}

.title {
    margin-bottom: 50px;
}

.image_wrapper {
    margin: 0px 30px;
}

.image_wrapper img {
    width: 60%;
}

.Overlink {
    flex: content;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media only screen and (max-width: 1000px) {
    .bg-dark {
        background-color: #dfdfdf;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        background-color: #1d1d1d;
        color: white;
    }

    .md\\:block {
        display: none;
    }

    .md\\:flex {
        display: none;
    }

    .p-4 {
        padding: 1rem 2rem;
    }

    .Overlink {
        flex: content;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .Overfoot {
        flex: content;
        justify-content: center;
        align-items: center;
    }

    .bg-welcome {
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 10rem;
    }
}